<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Edukatec | About Us</title>
</head>
<style>
    body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    nav {
        background-color: rgba(255, 166, 0, 0.705);
        width: 100%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        text-align: center;
        border-radius: 2em;
        border-bottom-style: inset;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 2%;
    }

    #divinicial {
        width: 95%;
        position: relative;
        background-image: url("https://t3.ftcdn.net/jpg/01/01/82/72/360_F_101827233_lk3Z4zbgtDLVZTHi2TZLae2zuWHbFsxq.jpg");
        text-align: center;
        left: 50%;
        background-repeat: no-repeat;
        transform: translate(-50%);
        border-radius: 10px;
    }

    #footer {
        padding-left: 3%;
        color: rgba(0, 0, 0, 0.546);
        position: absolute;
    }

    #valores {
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 3%;
        padding-bottom: 4%;
    }

    #thv {
        background-color: rgba(0, 255, 255, 0.795);
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
        border-bottom-style: inset;
    }

    .pv {
        text-align: center;
        background-color: rgba(145, 241, 245, 0.936);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-style: inset;
    }

    #mision,
    #vision,
    #filosofia,
    #tablemvfi,
    #tablemembers,
    #imgcat,
    #textv {
        padding-left: 6%;
        padding-right: 6%;
    }

    h2,
    #textv {
        text-align: center;
    }

    #organigrama {
        padding-left: 35%;
        padding-right: 30%;
    }

    .memb {
        background-color: rgba(253, 117, 68, 0.779);
        text-align: center;
    }

    body::-webkit-scrollbar {
        width: 8px;
        /* Tamaño del scroll en vertical */
        height: 8px;
        /* Tamaño del scroll en horizontal */
        display: none;
        /* Ocultar scroll */
    }
</style>

<body>
    <header class="material-content">
        <nav>
            <ul>EDUKATEC</ul>
        </nav>
    </header>

    <div id="divinicial">
        <br>
        <h1>Codificando la nueva generación.</h1>
        <h2>About us</h2>
        <br>
    </div>
    <div><br>
        <table id="tablemvfi">
            <tr>
                <td>
                    <div id="mision">
                        <h2>Misión</h2>
                        <p>Ser una empresa de software para reducir el tiempo de la realización de las labores
                            administrativas para modernizar la comunicación académica interna a través de nuevas
                            tecnologías y conocimientos escolares.</p>
                    </div>
                    <div id="vision">
                        <h2>Visión</h2>
                        <p>En Eduktec nos vemos ofreciendo servicios para el desarrollo de aplicaciones web para ofrecer
                            soluciones con problemáticas enfocadas a la educación básica para llegar a posicionarnos
                            como una empresa capacitada,
                            innovadora e idónea en el mercado.</p>
                    </div>
                    <div id="filosofia">
                        <h2>Filosofía</h2>
                        <p>Nuestra empresa busca ofrecer soluciones a través de la tecnología actuando con valores y
                            responsabilidad. Buscamos la mejora personal y empresarial, así como el
                            reconocimiento, la calidad, seguridad y la eficacia para contribuir directa e indirectamente
                            a la sociedad en general.</p>
                    </div>
                    <br>
                </td>
            </tr>
            <tr>
                <th>
                    <div id="imgcat"><img src="https://i.pinimg.com/736x/3d/91/4e/3d914e1142da193f7b6309ee67f46551.jpg"
                            width="360px" height="370px"></div>
                </th>
            </tr>
        </table>
    </div>
    <div id="valores">
        <table>
            <tr>
                <th colspan="3" id="thv">
                    <h2>Valores</h2>
                </th>
            <tr>
                <td>
                    <h3>
                        <p class="pv">Puntualidad</p>
                    </h3>
                    <p id="textv">Sabemos que el tiempo es algo muy valioso, por lo cual consideramos los plazos y
                        tiempos de entrega nuestras actividades.</p>
                </td>
                <td>
                    <h3>
                        <p class="pv">Excelencia</p>
                    </h3>
                    <p id="textv">La calidad es algo fundamental en nuestro proyecto, estamos comprometidos a
                        esforzarnos para lograr estándares de calidad óptimos.</p>
                </td>
                <td>
                    <h3>
                        <p class="pv">Seguridad</p>
                    </h3>
                    <p id="textv">La seguridad de la información y la privacidad de nuestro cliente es muy importante
                        para nosotros, no permitiremos filtraciones de terceros a la información.</p>
                </td>
            </tr>
        </table>
    </div>
    <div id="organigrama">
        <table id="tablemembers">
            <tr>
                <th>
                    <h3>Detras de EDUKATEC estamos nosotros:</h3>
                </th>
            </tr>
            <tr>
                <td class="memb">Daowz Laguna Erwin Enrique</td>
            </tr>
            <tr>
                <td class="memb">Del Castillo Aguirre Wendy Ashlyn</td>
            </tr>
            <tr>
                <td class="memb">Gómez Santiago Eduardo</td>
            </tr>
            <tr>
                <td class="memb">Rodríguez García Luis Francisco</td>
            </tr>
            <tr>
                <td class="memb">Tlahuel Méndez Samuel Oswaldo</td>
            </tr>
            <tr>
                <td class="memb">Villegas García Gabriela </td>
            </tr>
        </table>
    </div>

    <!--------------FOOTER----------->
    <br><br><br><br>
    <footer id="footer">Grupo Desarrollador de Software Edukatec.</footer>
</body>

</html>