<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/desing.css" rel="stylesheet">
    <link href="css/inicio.css" rel="stylesheet">
    <link href="css/add.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/options.css" rel="stylesheet">
    <link href="css/menu.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/add.js"></script>
    <title>Edukatec | Crear...</title>
</head>

<body>
    <header>
        <div class="menu-bar">
            <a href="#" class="btn-menu"><span class="icon-menu"></span></a>
        </div>
        <nav>
            <ul>
                <li><a href="/inicio"><span class="icon-home3"></span>Inicio</a></li>
                <li><a href="/myaccountM"><span class="icon-user"></span>Mi cuenta</a></li>
                <li><a href="/ver_todo"><span class="icon-man-woman"></span>Ver todo...</a></li>
                <li><a href="/crear_page"><span class="icon-book"></span>Crear materias y temas</a></li>
                <li><a href="/generar_registro"><span class="icon-clipboard"></span>Crear registro</a></li>
                <!--<li><a href=""><span class="icon-bubbles2"></span>Chat</a></li>-->
                <li><a href="#" onclick="logout()"><span class="icon-exit"></span>Cerrar sesion</a></li>
            </ul>
        </nav>
    </header>

    <div class="radio">
        <input label="Materia" checked type="radio" id="create" name="create" onclick="change_subject()">
        <input label="Tema" type="radio" id="create" name="create" onclick="change_topic()">
    </div>

    <div id="div-crear-materia">
        <form method="post" action="/crear_materia" accept-charset="utf-8">
            <table>
                <tr>
                    <th>
                        <h1>Crear materias</h1>
                    </th>
                </tr>
                <tr>
                    <td>
                        <label for="name">Nombre de la materia</label>
                        <input type="text" class="inputC" name="name" id="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><button class="button">Crear materia</button></p>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="div-crear-tema">
        <form method="post" action="/crear_tema" accept-charset="utf-8">
            <table>
                <tr>
                    <th>
                        <h1>Crear temas</h1>
                    </th>
                </tr>
                <tr>
                    <td>
                        <label for="name">Nombre del tema</label>
                        <input type="text" class="inputC" name="name" id="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        Seleccione materia:
                        <select name="materias" class="select">
                            <% for (i=0; i < materias.length; i++) { %>
                                <option value="<%= materias[i].id %>">
                                    <%= materias[i].name %>
                                </option>
                                <% } %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><button class="button">Crear tema</button></p>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>