<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/desing.css" rel="stylesheet" type="text/css">
    <link href="css/Iniciar.css" rel="stylesheet" type="text/css">
    <title>Edukatec | Recuperar mi contraseña</title>
</head>

<body>
    <div class="mydiv"></div>
    <div id="div-mail">
        <form action="/password" method="post">
            <table>
                <tr>
                    <td>
                        <input class="inputC" placeholder="Correo..." name="mail" id="mail" type="email">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="imagenes/void.png" alt="void" class="img-void">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="button" type="submit">Enviar correo</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <style>
        table {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        #div-mail {
            width: 70%;
            height: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .img-void {
            height: 35px;
        }
    </style>
</body>

</html>