<html>

<head>
    <title>Edukatec | Home</title>
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <link href="css/desing.css" rel="stylesheet" type="text/css">
    <link href="imagenes/favicon.ico" rel="shortcut icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header id="header" class="flexbox-right">
        <table>
            <tr>
                <td>
                    <p><button class="button" onclick="location.href = 'register'">Registrarse</button></p>
                </td>
                <td>
                    <p><button class="button" onclick="location.href = 'login'">Logearse</button></p>
                </td>
            </tr>
        </table>
    </header>
    <div id="div-principal">
        <div id="div-image"><img src="imagenes/Home.png" alt="home"></div>
        <div id="div-text">
            <table id="table-presentacion">
                <tr>
                    <td>
                        <h1>
                            Codificando la
                            <br>
                            <font>NUEVA GENERACION</font>
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Haz un registro completo de como se han desarrollado
                            tus alumnos a lo largo del curso.
                            Maneja la informacion de manera sencilla y didactica.
                            Motivalos a ser mejores.
                            <br>
                            <br>
                            Registrate ¡Siempre es gratis!
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <footer class="footer">
        <table class="flexbox-center">
            <tr>
                <td>
                    <div id="div-hr" class="flexbox-right">
                        <hr>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p id="p-color"><a href="/abtus">About us</a> | <a href="Privacy.html">Privacy</a>
                        | <a href="mailto:samueltlahuel.m@gmail.com">Contact us</a> | Edukatec S.C. All
                        rights reserved ®</p>
                </td>
            </tr>
        </table>
    </footer>
</body>

</html>