<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/inicio.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/menu.css" rel="stylesheet">
    <title>Edukatec | Inicio</title>
</head>

<body>

    <header>
        <div class="menu-bar">
            <a href="#" class="btn-menu"><span class="icon-menu"></span></a>
        </div>
        <nav>
            <ul>
                <li><a href="/inicio-admins"><span class="icon-home3"></span>Inicio</a></li>
                <li><a href="/myaccountA"><span class="icon-user"></span>Mi cuenta</a></li>
                <li><a href="/admin"><span class="icon-user-plus"></span>Administrar cuentas...</a></li>
                <li><a href="#" onclick="logout()"><span class="icon-exit"></span>Cerrar sesion</a></li>
            </ul>
        </nav>
    </header>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/menu.js"></script>
</body>

</html>